* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
h1 {
  padding: 20px;
  color: #00c6f3;
  text-align: left;
  width: 100%;
}
h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffffff;
}
.mainWrapper {
  position: relative;
  overflow-x: hidden;
}
.backgroundImg {
  text-align: center;
  width: 70%;
  height: 60vh;
}
.searchBar {
  width: 400px;
  height: 60px;
  border: none;
  font-size: 1em;
  padding-left: 5px;
  text-indent: 20px;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
  color: #181818;
  border-radius: 50px;
}
.searchEngineWrapper {
  position: relative;
  bottom: 100px;
}
.countryLists {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 82%;
  padding: 20px;
  margin-bottom: 20px;
}
.deleteBtn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: solid 1px #00c6f3;
  border-radius: 4px;
  color: #00c6f3;
}
.deleteBtn:hover {
  border-radius: 4px;
  border: none;
  background: #dedede;
  color: #00758f;
  cursor: pointer;
}

.fieldWrapper {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  padding: 20px;
  color: #181818;
}
.formWrapper {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: auto;
  width: 90%;
  padding: 20px;
  border-radius: 25px;
  color: #181818;
  background: #00c6f3;
  opacity: 0.7;
}
.form {
  width: 140px;
  display: block;
}
.formInput {
  text-indent: 10px;
  font-size: 15px;
  width: 160px;
  height: 40px;
}
.sortingBtn {
  width: 60px;
  height: 35px;
  border-radius: 4px;
  border: none;
  background: #00c6f3;
  color: #ffffff;
  font-size: 15px;
  margin: 5px;
}
.sortingBtn:hover {
  cursor: pointer;
  background: #ffffff;
  color: #00c6f3;
  border: solid 1px #00c6f3;
}
.makeListBtn {
  width: 100px;
  height: 60px;
  font-size: 15px;
  border: solid 1px #00c6f3;
  border-radius: 4px;
  color: #00c6f3;
}
.makeListBtn:hover {
  background: #00c6f3;
  color: #ffffff;
  cursor: pointer;
}
.nameField {
  width: 100px;
}
.codeField {
  text-align: center;
  width: 200px;
}
.callingCodeField {
  text-align: center;
  width: 100px;
}
.capitalField {
  text-align: center;
  width: 150px;
}
.regionField {
  text-align: center;
  width: 100px;
}
.addBtn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: solid 1px #00c6f3;
  border-radius: 4px;
  color: #00c6f3;
}
.addBtn:hover {
  border-radius: 4px;
  border: none;
  background: #dedede;
  color: #00758f;
  cursor: pointer;
}
