* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
h1 {
  padding: 20px;
  color: #575757;
  text-align: left;
  width: 100%;
}
h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffffff;
}
.mainWrapper {
  position: relative;
}
.backgroundImg {
  text-align: center;
  width: 60%;
  height: 60vh;
}
.searchBar {
  width: 400px;
  height: 60px;
  border: none;
  font-size: 1em;
  padding-left: 5px;
  text-indent: 20px;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
  color: #181818;
  border-radius: 50px;
}
.searchEngineWrapper {
  position: relative;
  bottom: 200px;
}
.countryLists {
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 90%;
  border: solid 1px #cccccc;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.listWrapper {
  margin-top: 150px;
}
.fieldWrapper {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 90%;
  padding: 20px;
}

.nameWrapper {
  list-style: none;
  width: 220px;
  text-align: left;
  border: solid 1px red;
}
.codeWrapper {
  list-style: none;
  width: 220px;
  text-align: left;
  border: solid 1px orange;
}
.callingCodeWrapper {
  list-style: none;
  width: 220px;
  text-align: left;
  border: solid 1px yellow;
}
.capitalWrapper {
  list-style: none;
  width: 220px;
  text-align: left;
  border: solid 1px blue;
}
.regionWrapper {
  list-style: none;
  width: 220px;
  text-align: left;
  border: solid 1px purple;
}
